



body {
    background-color: #f2f2f2;
    background-image: url(../images/cubes.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
   font-family: Georgia, serif;
}


@media screen and (max-width: 480px) {
    body {
        background-image: none;
        
    }
    #header-image {
        background-image: url(../images/console.jpg);
         background-repeat: no-repeat;
        background-color: darkgray;
        
    }
    #more-work {
        background-image: url(../images/console.jpg);
         background-repeat: no-repeat;
        background-color: darkgray;
       
        background-size: cover;
    }
}

.hidden-album {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1c40f;
    background-blend-mode: screen;
    color: #2c3e50;
    position: relative;
}

#album-details-1 {
    background-image: url(../images/kevin-max.jpeg);
}

#album-details-2 {
    background-image: url(../images/aubryn.jpg);
}

#album-details-3 {
    background-image: url(../images/ben-sturgell.jpg);
}

#album-details-4 {
    background-image: url(../images/gnarly-parkers.jpeg);
}

#album-details-5 {
    background-image: url(../images/adam-searan.jpg);
}

.song-list {}



.img-grid {
    padding-right: 2%;
    padding-bottom: 3%;
}

img:hover {
    outline: groove #E2DFD9;
}

.album-details {
    display: none;
}

audio {
    width: 80%;
}

.grey-box {
    background-color: #788A93;
}

#header-image {
    overflow: hidden;
}

#albums-and-details {
    background-color: #2c3e50;
}

footer {
    background-color: #E2DFD9;
    color: #38353A;
}



.header-text {
    color: #4d4d4d;
}


.description{
    
}

.hide {
  display: none;
}

/*
 *  Scrollbar
 */

#other-work::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #788A93;
    border-radius: 10px;
}

#other-work::-webkit-scrollbar {
    width: 10px;
    background-color: #788A93;
}

#other-work::-webkit-scrollbar-thumb {
    background-color: #E2DFD9;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent)
}

#contact {
    background-color: #3498db;
    color: #bdc3c7;
}

#testimonials {
    height: 20em;
    overflow: hidden;
}

.dark-transparent {
    background-color: rgba(0, 0, 0, 0.3);
}

.scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
}

.line-dark {
    height: 1px;
    background-color: #2c3e50;
}

.line-white {
    height: 1px;
    background-color: #bdc3c7;
}

.line-red {
    height: 1px;
    background-color: #3498db;
}

.line-teal {
    height: 1px;
    background-color: #2c3e50;
}

.line-blue {
    height: 2px;
    background-color: #f1c40f;
}

.contact {
    background-color: #E2DFD9;
    color: #38353A;
}

#contact-left {
    text-align: right;
}

#more-work {}

.margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 5px;
}

#main {
    color: #E2DFD9;
}

#scroll-to-bottom {
    color: #645c5c;
}

.buy-thumbnail {
    width: 100%;
}

.buy-thumbnail-div {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 80px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.buy-thumbnail-div:hover {
    outline: groove #E2DFD9;
}

#the-header {
  
    margin-left: -1000px;
    margin-right: 28.813px;
    position: relative;
}

#the-header-text {
    margin-left: 1000px;
}

.ribbon {
    background: rgba(192, 54, 74, 0.80);
    position: absolute;
    z-index: 2;
}

.ribbon.right {
    top: 54px;
    right: -1px;
}

.ribbon.right:after {
    content: "";
    position: absolute;
    right: -29px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid rgba(192, 54, 74, 0.80);
    border-top: 52px solid transparent;
    border-bottom: 0 solid transparent;
}

.header-text p {
    margin-top: 10px;
}
footer p{
    font-size: 12px;
}

article {
    max-height: 6em;
    /* (4 * 1.5 = 6) */
}

.no-background-blend-mode {
  background-image: none !important;
}    
ul {
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Verdana, sans-serif;
}

#logo {
    height:36px;
   margin-left: 12px;
    outline: none;
}

#album-grid {
    margin-top: 10px;
}
